h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.game-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.rock-button-container {
    float:left;
    width: 33.33%;
}
.rock-button-container img {
    width: 95%;
    height: auto;
    border: 5px solid rgb(100,100,100);
}
.rock-button {
    float:left;
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.paper-button-container {
    float: left;
    width: 33.33%;
}
.paper-button-container img {
    width: 95%;
    height: auto;
    border: 5px solid rgb(100,100,100);
}
.paper-button {
    float:left;
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.scissors-button-container {
    float: left;
    width: 33.33%;
}
.scissors-button-container img {
    width: 95%;
    height: auto;
    border: 5px solid rgb(100,100,100);
}
.scissors-button {
    float:left;
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.results-container {
    text-align: center;
    font-style: "Roboto, sans-serif";
    font-size: 16px;
    border: 5px solid rgb(100,100,100);
}