h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.game-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.rock-button-container {
    
    width: 100%;
}
.rock-button-container img {
    width: 95%;
    height: auto;
    border: 5px solid rgb(100,100,100);
}
.rock-button {
    float:left;
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.paper-button-container {
    
    width: 100%;
}
.paper-button-container img {
    width: 95%;
    height: auto;
    border: 5px solid rgb(100,100,100);
}
.paper-button {
    float:left;
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.scissors-button-container {
    
    width: 100%;
}
.scissors-button-container img {
    width: 95%;
    height: auto;
    border: 5px solid rgb(100,100,100);
}
.scissors-button {
    float:left;
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.results-container {
    text-align: center;
    border: 3px solid rgb(100,100,100);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.all-buttons-container {
    column-count: 3;
}